 @import url(" https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap "); 
  
 * { 
   margin: 0; 
   padding: 0; 
   box-sizing: border-box; 
   font-family: "Roboto", sans-serif; 
 }

.suggested-books__books {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 24px;
}

/* RECOMMENDED */
.recommended {
  padding: 24px 0;
}

.recommended__title {
  font-size: 24px;
  font-weight: bold;
  color: #032b41;
  margin-bottom: 8px;
}

.recommended__subtitle {
  font-size: 16px;
  color: #6b757b;
  margin-bottom: 24px;
}

.recommended__books {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 24px;
}

.suggested-books {
  padding: 24px 0;
}

.suggested-books__title {
  font-size: 24px;
  font-weight: bold;
  color: #032b41;
  margin-bottom: 8px;
}

.suggested-books__subtitle {
  font-size: 16px;
  color: #6b757b;
  margin-bottom: 24px;
}

.recommended-book {
  position: relative;
}

.recommended-book__pro-badge {
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: #032b41;
  color: white;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 12px;
  font-weight: bold;
  z-index: 2;
}

.recommended-book__image-wrapper {
  position: relative;
  width: 100%;
  height: 150px;
  margin-bottom: 8px;
}

.recommended-book__image-wrapper img {
    border-radius: 8px;
}

.recommended-book__image-wrapper::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background-color: #ea7066;
    z-index: 0;
    border-radius: 0 0 8px 8px;
}

.recommended-book__image-wrapper img {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.recommended-book__details {
  color: #032b41;
}

.recommended-book__title {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 4px;
}

.recommended-book__author {
  font-size: 12px;
  color: #6b757b;
  margin-bottom: 8px;
}

.recommended-book__subtitle {
  font-size: 12px;
  color: #032b41;
  margin-bottom: 8px;
}

.recommended-book__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  color: #6b757b;
}

.recommended-book__duration,
.recommended-book__rating {
  display: flex;
  align-items: center;
  gap: 4px;
}

/* SELECTED FOR YOU */
.selected-for-you {
  padding: 24px 0;
}

.selected-for-you__title {
  font-size: 24px;
  font-weight: bold;
  color: #032b41;
  margin-bottom: 24px;
}

.selected-for-you__book {
  background-color: #fbefd6;
  padding: 24px;
  border-radius: 8px;
  display: flex;
  gap: 24px;
  align-items: center;
}

.selected-for-you__book-subtitle {
  font-size: 20px;
  font-weight: 500;
  color: #032b41;
  flex: 1;
}

.selected-for-you__book-image-wrapper {
  position: relative;
  width: 150px;
  height: 150px;
  flex-shrink: 0;
}

.selected-for-you__book-image-wrapper::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background-color: #032b41;
    z-index: 0;
    border-radius: 0 0 8px 8px;
}

.selected-for-you__book-image-wrapper img {
    position: relative;
    z-index: 1;
}


.selected-for-you__book-details {
  flex: 1;
}

.selected-for-you__book-title {
  font-size: 20px;
  font-weight: bold;
  color: #032b41;
  margin-bottom: 8px;
}

.selected-for-you__book-author {
  font-size: 16px;
  color: #6b757b;
  margin-bottom: 16px;
}

.selected-for-you__book-duration {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  color: #032b41;
}

.selected-for-you__book-play-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #032b41;
    color: white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.selected-for-you__book-play-icon svg {
    font-size: 24px;
}

.nav-for-you {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 24px;
  border-bottom: 1px solid #e0e0e0;
}

.nav-for-you__search-container {
  position: relative;
  width: 300px;
}

.nav-for-you__search-input {
  width: 100%;
  height: 40px;
  border-radius: 8px;
  border: 1px solid #e0e0e0;
  padding: 0 40px 0 16px;
  font-size: 16px;
}

.nav-for-you__search-icon {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  color: #032b41;
}

/* SIDEBAR */
.for-you-page__container {
  display: flex;
}

.sidebar {
  width: 250px;
  min-height: 100vh;
  background-color: #f7faf9;
  display: flex;
  flex-direction: column;
  padding: 24px;
  position: fixed;
  top: 0;
  left: 0;
}

.sidebar__logo {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 24px;
  font-weight: bold;
  color: #032b41;
  margin-bottom: 32px;
}

.sidebar__links {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.sidebar__link {
  display: flex;
  align-items: center;
  gap: 12px;
  color: #032b41;
  padding: 12px;
  border-radius: 4px;
  transition: background-color 200ms;
  position: relative;
}

.sidebar__link:hover {
  background-color: #e0e0e0;
}

.sidebar__link--disabled {
  cursor: not-allowed;
}

.sidebar__link--disabled:hover {
  background-color: transparent;
}

.sidebar__link--active {
  background-color: #e6f3ff;
  color: #0365f2;
  font-weight: 500;
}

.sidebar__link--active::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 4px;
  background-color: #2bd97c;
}

.sidebar__bottom-links {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.for-you-page__main-content {
  flex-grow: 1;
  padding: 24px;
  margin-left: 250px; /* Same as sidebar width */
}
 
  
 body { 
   max-width: 100%; 
   overflow-x: hidden; 
   background-color: white; 
 } 
  
 a { 
   text-decoration: none; 
   color: inherit; 
 } 
  
 ul { 
   list-style: none; 
 } 
  
 button { 
   cursor: pointer; 
   outline: none; 
   border: none; 
   background-color: transparent; 
 } 
  
 button:active { 
   transform: translateY(1px); 
 } 
  
 button:disabled { 
   cursor: not-allowed; 
   opacity: 0.65; 
 } 
  
 .row { 
   max-width: 1070px; 
   width: 100%; 
   margin: 0 auto; 
   padding: 0 24px; 
 } 
  
 .container { 
   padding: 40px 0; 
   width: 100%; 
 } 
  
 .btn { 
   background-color: #2bd97c; 
   color: #032b41; 
   width: 100%; 
   height: 40px; 
   border-radius: 4px; 
   font-size: 16px; 
   transition: background-color 200ms; 
   display: flex; 
   align-items: center; 
   justify-content: center; 
   min-width: 180px; 
 } 
  
 .btn:hover:not(:disabled) { 
   background-color: #20ba68; 
 } 
  
 .btn:active { 
   transform: translateY(1px); 
 } 
  
 .home__cta--btn { 
   max-width: 300px; 
   display: flex; 
   align-items: center; 
   justify-content: center; 
 } 
  
 /* HOME */ 
 .section__title { 
   font-size: 32px; 
   color: #032b41; 
   text-align: center; 
   margin-bottom: 32px; 
   font-weight: bold; 
 } 
  
 /* NAVBAR */ 
 .nav { 
   height: 80px; 
 } 
  
 .nav__wrapper { 
   display: flex; 
   justify-content: space-between; 
   align-items: center; 
   max-width: 1070px; 
   width: 100%; 
   height: 100%; 
   margin: 0 auto; 
   padding: 0 24px; 
 } 
  
 .nav__list--wrapper { 
   display: flex; 
   gap: 24px; 
 } 
  
 .nav__img--mask { 
   max-width: 200px; 
 } 
  
 .nav__img { 
   width: 100%; 
   height: 100%; 
 } 
  
 .nav__list { 
   cursor: not-allowed; 
   color: #032b41; 
   transition: color 100ms; 
 } 
  
 .nav__list--login:hover { 
   color: #2bd97c; 
 } 
  
 .nav__list--login { 
   cursor: pointer; 
 } 
  
 /* LANDING */ 
 .landing__wrapper { 
   display: flex; 
 } 
  
 .landing__content { 
   width: 100%; 
 } 
  
 .landing__image--mask { 
   width: 100%; 
   display: flex; 
   justify-content: flex-end; 
 } 
  
 .landing__image--mask img { 
   width: 100%; 
   height: 100%; 
   max-width: 400px; 
 } 
  
 .landing__content__title { 
   color: #032b41; 
   font-size: 40px; 
   font-weight: bold; 
   margin-bottom: 24px; 
 } 
  
 .landing__content__subtitle { 
   color: #394547; 
   font-size: 20px; 
   font-weight: 300; 
   margin-bottom: 24px; 
   line-height: 1.5; 
 } 
  
 /* FEATURES */ 
 .features__wrapper { 
   display: grid; 
   grid-template-columns: repeat(3, 1fr); 
   gap: 40px; 
   margin-bottom: 96px; 
 } 
  
 .features { 
   display: flex; 
   flex-direction: column; 
   align-items: center; 
   text-align: center; 
 } 
  
 .features__icon { 
   display: flex; 
   justify-content: center; 
   margin-bottom: 8px; 
   color: #032b41; 
 } 
  
 .features__icon svg { 
   width: 60px; 
   height: 60px; 
 } 
  
 .features__title { 
   font-size: 24px; 
   color: #032b41; 
   margin-bottom: 16px; 
   font-weight: 500; 
 } 
  
 .features__sub--title { 
   font-size: 18px; 
   color: #394547; 
   font-weight: 300; 
 } 
  
 .statistics__heading { 
   font-size: 32px; 
   font-weight: 500; 
   color: #6b757b; 
   margin-bottom: 16px; 
 } 
  
 .statistics__heading:last-child { 
   margin-bottom: 0; 
 } 
  
 .statistics__heading--active { 
   color: #2bd97c; 
 } 
  
 .statistics__wrapper { 
   display: flex; 
   gap: 80px; 
   margin-bottom: 96px; 
 } 
  
 .statistics__wrapper:last-child { 
   margin-bottom: 0; 
 } 
  
 .statistics__content--header { 
   width: 100%; 
   display: flex; 
   flex-direction: column; 
   justify-content: center; 
 } 
  
 .statistics__content--header-second { 
   align-items: flex-end; 
 } 
  
 .statistics__content--details { 
   width: 100%; 
   display: flex; 
   flex-direction: column; 
   justify-content: center; 
   gap: 24px; 
   background-color: #f1f6f4; 
   padding: 40px 24px; 
 } 
  
 .statistics__data { 
   display: flex; 
   gap: 16px; 
 } 
  
 .statistics__data--number { 
   color: #0365f2; 
   font-size: 20px; 
   font-weight: 600; 
   margin-top: 4px; 
 } 
  
 .statistics__data--title { 
   font-size: 20px; 
   font-weight: 300; 
   color: #394547; 
 } 
  
 /* REVIEWS */ 
 .reviews__wrapper { 
   max-width: 600px; 
   margin: 0 auto; 
 } 
  
 .review { 
   background-color: #fff3d7; 
   padding: 16px; 
   margin-bottom: 32px; 
   border-radius: 4px; 
   font-weight: 300; 
 } 
  
 .review__header { 
   color: #032b41; 
   display: flex; 
   gap: 8px; 
   margin-bottom: 8px; 
 } 
  
 .review__body { 
   color: #394547; 
   letter-spacing: 0.3px; 
   line-height: 1.4; 
 } 
  
 .review__stars { 
   display: flex; 
 } 
  
 .review__stars svg { 
   width: 16px; 
   height: 16px; 
   fill: #0564f1; 
 } 
  
 .reviews__btn--wrapper { 
   display: flex; 
   justify-content: center; 
 } 
  
 /* NUMBERS */ 
 .numbers { 
   background-color: #d7e9ff; 
   display: flex; 
   flex-direction: column; 
   align-items: center; 
   text-align: center; 
   padding: 24px; 
   padding-bottom: 40px; 
   border-radius: 12px; 
 } 
  
 .numbers__wrapper { 
   display: grid; 
   grid-template-columns: repeat(3, 1fr); 
   gap: 40px; 
 } 
  
 .numbers__icon { 
   display: flex; 
   align-items: center; 
   height: 60px; 
   gap: 4px; 
 } 
  
 .numbers__icon svg { 
   color: #0365f2; 
   width: 48px; 
   height: 48px; 
 } 
  
 .numbers__star--icon svg { 
   width: 20px; 
   height: 20px; 
 } 
  
 .numbers__title { 
   font-size: 40px; 
   color: #032b41; 
   font-weight: 600; 
   margin-bottom: 16px; 
 } 
  
 .numbers__sub--title { 
   color: #394547; 
   font-weight: 300; 
 } 
  
 #footer { 
   background-color: rgb(241 246 244); 
 } 
  
 .footer__top--wrapper { 
   position: relative; 
   display: flex; 
   justify-content: space-between; 
   font-size: 14px; 
   margin: 32px auto 64px; 
 } 
  
 .footer__block { 
   z-index: 1; 
 } 
  
 .footer__link--title { 
   font-weight: 600; 
   margin-bottom: 16px; 
   font-size: 18px; 
   color: #032b41; 
 } 
  
 .footer__social--link-wrapper { 
   display: flex; 
   align-items: center; 
   gap: 16px; 
   margin-bottom: 16px; 
 } 
  
 .footer__social--link { 
   display: flex; 
 } 
  
 .footer__link--wrapper { 
   margin-bottom: 12px; 
   line-height: 1; 
 } 
  
 .footer__link { 
   color: #394547; 
   font-size: 14px; 
   cursor: not-allowed; 
 } 
  
 .footer__link--wrapper:last-child { 
   margin-bottom: 0; 
 } 
  
 .footer__social--text { 
   margin-bottom: 4px; 
 } 
  
 .footer__social--text b { 
   font-weight: 500; 
 } 
  
 .footer__review--wrapper { 
   display: flex; 
   gap: 8px; 
   margin-bottom: 8px; 
 } 
  
 .footer__social--img-wrapper { 
   display: flex; 
   align-items: center; 
   gap: 8px; 
 } 
  
 .footer__social--img { 
   display: flex; 
 } 
  
 .footer__copyright--wrapper { 
   display: flex; 
   justify-content: center; 
   align-items: center; 
 } 
  
 .footer__copyright { 
   color: #032b41; 
   font-weight: 500; 
 } 
 
 .modal { 
   position: fixed; 
   top: 0; 
   left: 0; 
   width: 100%; 
   height: 100%; 
   background-color: rgba(0, 0, 0, 0.5); 
   display: flex; 
   justify-content: center; 
   align-items: center; 
   z-index: 100; 
 } 
 
 .modal__container { 
   position: relative; 
   background-color: white; 
   border-radius: 8px; 
   width: 100%; 
   max-width: 400px; 
   overflow: hidden; 
 } 
 
 .modal__content { 
   padding: 24px; 
 } 
 
 .modal__close-btn { 
   position: absolute; 
   top: 16px; 
   right: 16px; 
   font-size: 24px; 
   cursor: pointer; 
   z-index: 1; 
 } 

.modal__title {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 24px;
  color: #032b41;
}

.login-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 100%;
  height: 48px;
  border-radius: 4px;
  font-size: 16px;
  transition: background-color 200ms;
}

.login-btn--guest {
  background-color: #3a579d;
  color: white;
  position: relative;
}

.btn.login-btn--guest:hover:not(:disabled) {
  background-color: #2a4178;
}

.guest-icon {
  position: absolute;
  left: 4px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
}

.btn.login-btn--google:hover:not(:disabled) {
  background-color: #0d65d9;
}

.login-btn-text {
  margin: 0 auto;
}

.login-btn--google {
  background-color: #4285f4;
  color: white;
  position: relative;
}

.google-logo-bg {
  background-color: white;
  padding: 8px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 4px;
  top: 50%;
  transform: translateY(-50%);
}

.google-btn-text {
  margin: 0 auto;
}

.login-btn--form {
  background-color: #2bd97c;
  color: #032b41;
}

.separator {
  display: flex;
  align-items: center;
  text-align: center;
  color: #ccc;
  margin: 24px 0;
}

.separator::before,
.separator::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid #ccc;
}

.separator:not(:empty)::before {
  margin-right: .25em;
}

.separator:not(:empty)::after {
  margin-left: .25em;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.login-form input {
  height: 38px;
  padding-left: 12px;
  border: 2px solid #ccc;
  border-radius: 4px;
}

.login-links {
  text-align: center;
  margin-top: 24px;
}

.register-link {
  /* No margin-top needed */
}

.register-link .btn--secondary {
  border-radius: 0;
  height: 40px;
  background-color: #f0f0f0;
  color: #1e90ff;
  width: 100%;
}

.register-link .btn--secondary:hover {
  background-color: #e0e0e0;
}

.login-link {
  color: #1e90ff;
  text-decoration: none;
  font-size: 14px;
}


@media (max-width: 1024px) {
  .recommended__books {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .sidebar {
    display: none;
  }

  .nav-for-you {
    justify-content: space-between;
  }

  .nav-for-you__menu-button {
    display: block;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
  }

  .selected-for-you__book {
    flex-direction: column;
    text-align: center;
  }

  .recommended__books {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 576px) {
  .recommended__books {
    grid-template-columns: 1fr;
  }

  .nav-for-you__search-container {
    width: 100%;
    margin-left: 16px;
  }
}
 
  
 @media (max-width: 576px) { 
   .nav__list--mobile { 
     display: none; 
   } 
 }